@charset "UTF-8";

body{font-family:/*'ヒラギノ明朝 Pro　W6',*/sans-serif;
    margin-top:55px;
    margin-bottom:100px;
    margin-right:120px;
    margin-left:120px;
}

textarea{width:30em;height:30em;
font-size: 1em;}
textarea.canvas{width:30em;height:10em;
font-size: 1em;}



div#review1{width:18.5em;
    border:solid;
    word-wrap: break-word;
line-height: 2.5em;
margin-left:3em;
overflow-y: scroll;}



div#review1>div{width:18em;
    overflow: scroll;
    white-space: nowrap; }
